.container {
    background: blueviolet;
    padding: 10px;
    margin-bottom: 20px;
    height: 200px;

    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.item {
    background: yellow;
    padding: 8px;
    flex-grow: 1;
}

.item-02 {
    flex-grow: 2;
}

