body {
    display: grid;
    border: 3px solid black;
    height: 80vh;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);

    gap: 15px;
    place-items: start end;
    /* 
    shorhand place-items: align-items / justify-items;
    */
}

.item-01 {
    background-color: palegoldenrod;
}

.item-02 {
    background-color: paleturquoise;
}

.item-03 {
    background-color: palegreen;
}

.item-04 {
    background-color: palevioletred;
}

.item-05 {
    background-color: lightseagreen;
}

.item-06 {
    background-color: rebeccapurple;
}

.item-07 {
    background-color: burlywood;
}

.item-08 {
    background-color: blanchedalmond;
}

.item-09 {
    background-color: grey;
}